@import "styles/Vocabulary.css";
@import "styles/Header.css";
@import "styles/AddNewWord.css";
@import "styles/Audit.css";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #272727;
    font-family: "Montserrat", sans-serif;
    color: #f6f4e6;
}
a {
    color: #f6f4e6;
}

li {
    list-style: none;
}

.center {
    text-align:center;
    padding: 20px;
}

.center h1 {
    padding-bottom: 20px;
}
button {
    cursor: pointer;
}